body {
  background-color: #343434;
  color: whitesmoke;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: whitesmoke;
  font-size: 5.625rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 125px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 5px;
  width: 7%;
  margin: 100px auto;
}

p {
  line-height: 2;
  word-spacing: 3px;
}

.wrapper {
  justify-content: center;
  max-width: 1200px;
  margin: 0 200px;
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 10rem;
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.arrow {
  margin-top: 40px;
  height: 40px;
  width: 40px;
  transform: rotate(180deg);
}

.proj-img {
  height: 200px;
  width: 200px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  margin-bottom: 10px;
}

.pfp {
  width: 175px;
  height: 175px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-top: 50px;
}

.intro {
  width: 50%;
  margin: auto;
}

.top-container {
  position: absolute;
  background: url(images/jumbotron.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 550px;
  width: 100%;
}

.middle-container {
  position: relative;
  top: 400px;
  margin: 100px 0px;
}

.bottom-container {
  position: relative;
  top: 400px;
  margin: 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.communication-img,
.teamwork-img {
  width: 25%;
  float: left;
  margin: 30px;
}

.detail-img {
  width: 25%;
  float: right;
  margin: 30px;
}

@media (max-width: 600px) {
  .detail-img {
    float: left;
    padding-right: 20px;
  }
}

.button,
.href-btn,
.contact-btn,
.footer-link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: rgb(31, 28, 28);
  color: whitesmoke;
  padding: 10px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.href-btn {
  margin-top: 70px;
}

.button:hover,
.href-btn:hover,
.contact-btn:hover,
.footer-link:hover {
  background-color: whitesmoke;
  color: rgb(31, 28, 28);
}

.contact-paragraph {
  width: 50%;
  margin: auto;
  padding: 20px 0 50px 0;
}

.copyright {
  margin-top: 50px;
  padding-bottom: 20px;
  color: whitesmoke;
  font-size: 0.75rem;
}
