body {
  background-color: #343434;
  color: whitesmoke;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: whitesmoke;
  font-size: 5.625rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 125px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

h3 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 5px;
  width: 7%;
  margin: 100px auto;
}

p {
  line-height: 2;
  word-spacing: 3px;
}

.banner {
  position: relative;
  background: url(images/jumbotron.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 35rem;
  width: 100%;
  margin-top: -10%;
}

@media (max-width: 600px) {
  .banner {
    margin-top: -30%;
  }
}

.title-name {
  position: relative;
  top: 150px;
}

.intro {
  width: 50%;
  margin: 100px auto 0 auto;
}

.pfp {
  top: 200px;
  width: 175px;
  height: 175px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.communication-img,
.teamwork-img {
  width: 25%;
  float: left;
  margin: 30px;
}

.detail-img {
  width: 25%;
  float: right;
  margin: 40px 30px 30px;
}

@media (max-width: 600px) {
  .detail-img {
    float: left;
    padding-right: 20px;
  }
}

.proj-wrapper {
  justify-content: center;
  margin: 0 15%;
  display: grid;
  row-gap: 40px;
}

.proj-item > p {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .proj-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.proj-img {
  height: 200px;
  width: 200px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  margin-bottom: 10px;
}

.contact > p {
  width: 50%;
  margin: auto;
  padding: 30px 0 50px;
}

.copyright {
  margin-top: 100px;
  padding-bottom: 20px;
  color: whitesmoke;
  font-size: 0.75rem;
}

.button,
.href-btn,
.contact-btn,
.footer-link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: rgb(31, 28, 28);
  color: whitesmoke;
  padding: 10px 10px;
  margin: 20px 5px 10px 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 rgb(31, 28, 28);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button:hover,
.href-btn:hover,
.contact-btn:hover,
.footer-link:hover {
  color: rgb(31, 28, 28);
  box-shadow: inset 150px 0 0 0 whitesmoke;
}
